*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(188,188,188);
}

.chico_azul{
    background-color: rgba(168,227,250,255);
    width: auto;
    height: 175px;
    margin: 20px 10px 10px 10px;

}

.grande_azul{
    background-color: rgba(168,227,250,255);
    width: auto;
    height: 250px;
    margin: 0px 10px 10px 10px;

}

/*
.container{
    display: flex;
    flex-direction: row;
}
*/

.mediano-azul_margin-derecho{
    float: right;
    background-color: black;
    width: 48%;
    height: 250px;
    margin: 0px 10px 10px 10px;
}

.mediano-azul{
    background-color: blue;
    width: 48%;
    height: 250px;
    margin: 0px 10px 10px 10px;
}

.mediano-azul_margin-derecho_margin-abajo{
    background-color: rgba(168,227,250,255);
    float: right;
    width: 48%;
    height: 250px;
    margin: 0px 10px 10px 10px;
}

.mediano-azul_margin-abajo{
    background-color: rgba(168,227,250,255);
    width: 48%;
    height: 250px;
    margin: 0px 10px 10px 10px;
}